---
import Container from "../shared/Container.astro";

---
<footer>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span>  Peñarroyataxi.com   All right reserved 2024
                </div>
                <div>
                    Proudly made by <a href="https://github.com/chelemovil87" target="_blank" class="font-semibold">Jose Rodriguez</a>
                </div>
            </div>
        </Container>
    </div>
</footer>
